* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* =========================
    Page Layout
   =========================
*/

.container {
    display: flex;
    flex-direction: column;
}

/* =========================
    Lists
   =========================
*/

ul {
    list-style: none;
}

/* =========================
    Links
   =========================
*/

article a {
    color: #145181;
    
}

/* =========================
    Navigation
   =========================
*/

nav {
    height: 50px;
    border-bottom: 1px solid lightgrey;
}

/* =========================
    Article
   =========================
*/

article {
    text-align: center;
}

article h1 {
    font-style: italic;
    max-width: 600px;
    min-width: 400px;
    margin: 0 auto;
    padding: 20px 200px 20px 20px;
    text-align: left;
    font-size: 2.25em;
}

article h4 {
    max-width: 600px;
    min-width: 400px;
    margin: 0 auto;
    text-align: justify; 
    padding: 5px 20px;
    font-size: 1.5em;
}

article p {
    max-width: 600px;
    min-width: 400px;
    margin: 0 auto;
    line-height: 1.25em;
    text-align: justify;
    font-size: 1.25em;
    font-weight: 500;
    padding: 20px;
    
}

span.caps {
    text-transform: uppercase;
}


/* =========================
    Images
   =========================
*/


.image img {
    max-width: 945px;
    width: 100%;
    height: auto;
}

/* =========================
    Related Articles
   =========================
*/
.more-articles {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(3, 1fr)
}

.related {
    background: lightgrey;
    grid-row: span 2;
}

.editor-picks {
    background: lightseagreen
}

.popular {
    background: lightskyblue;
    grid-row: 1 / span 3;
    grid-column: 2 / 3;
}

/* =========================
    Footer
   =========================
*/

.primary-footer {
    background: lime;
    display: flex;
}

.secondary-footer {
    background: fuchsia;
    font-size: 0.8em;
}

.secondary-footer ul {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.secondary-footer ul li {
    margin: 5px 5px;
}